h1 {
    color:whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 48pt;
    letter-spacing: 0.32em;
    padding-left:45px;
    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
    -o-animation: fadein 5s; /* Opera */
}
body {
    background-image: url("img/nasa_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 2px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    color:whitesmoke;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: 'Oswald', sans-serif;
    font-size: 28pt;
    letter-spacing: 0.20em;
    padding-left:20px;
    padding-right:20px;
}

table {
    width: 40%;
    table-layout:fixed;
    text-align:center;
    border-collapse: collapse;
  }
  
tr {
    height:160px;
}

  td {
    width: 30%;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 60pt;
    border: 1px solid whitesmoke;
  }
  
  /* Creates element with empty content after td to create even height and width */
  td::after {
    content: "";
    display: flexbox;
    margin-top: 100%;
  }
  
  /* Creates first column of board with open sides */
  td:first-of-type {
    border-left-color: transparent;
    border-top-color: transparent;
  }
  
  /* Creates open top of center top box */
  td:nth-of-type(2) {
    border-top-color: transparent;
  }
  
  /* Creates last column of board with open sides */
  td:nth-of-type(3) {
    border-right-color: transparent;
    border-top-color: transparent;
  }

  /* Creates open bottom of board */
  tr:nth-of-type(3) td {
    border-bottom-color: transparent;
  }
  
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}